.elements__button {
  min-width: 23px;
  min-height: 19px;
  border: 0;
  background-color: #FFFFFF;
  background-image: url(../../../images/elements-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .5s ease;
}
.elements__button:hover {
  cursor: pointer;
  opacity: .5;
}