.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  column-gap:17px;
  row-gap: 20px;
}

@media screen and (max-width: 325px) {
  .elements {
    gap:20px;
    padding-bottom: 51px;
  }
}